@model List<CategorizeData>
@{
    ViewData["ActivePageProductManager"] = "Commodity";
    ViewData["ActivePageTop"] = "ProductManager";
    var statusmessage = TempData["StatusMessage"] as string;
}
@*ProductManager/Categorize*@
<a asp-action="index" class="link-dark">Quản lý phân loại mặt hàng</a>

<div class="mt-2">
    <partial name="_AlertStatusMessage" model="@statusmessage" />
</div>

<hr />
<a class="btn btn-secondary" asp-action="CreateCategorize"><i class="fa-solid fa-folder-plus"></i> Thêm</a>
<hr />
<div>
    @if (Model == null || Model.Count <= 0)
    {
        <div class="alert alert-danger">
            Không có dữ liệu !!!
        </div>
    }
    else
    {
        <table class="table table-success table-hover">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Dòng</th>
                    <th scope="col">Tùy Chọn</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Code</td>
                    <td>@item.Name</td>
                    <td>
                        @if (item.Lines == null || item.Lines.Count() <= 0)
                        {
                            <a asp-action="CreateLine" asp-controller="Line" asp-route-CommodityId="@item.CommodityId" asp-route-CategorizeId="@item.Id" class="link-primary d-block">+Thêm</a>
                        }
                        else
                        {
                            <a asp-action="CreateLine" asp-controller="Line" asp-route-CommodityId="@item.CommodityId" asp-route-CategorizeId="@item.Id" class="link-primary d-block">+Thêm</a>
                            @foreach (var data in item.Lines)
                            {
                                <a asp-action="index" asp-controller="Line" asp-route-Id="@data.Id" class="link-dark d-block">@data.Name</a>
                            }
                        }
                    </td>
                    <td>
                        <a asp-route-id="@item.Id" class="btn btn-light" asp-action="EditCategorize"><i class="fa-solid fa-wand-magic-sparkles"></i> Sửa</a>
                        <a asp-route-id="@item.Id" asp-action="DeleteCategorize" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Xóa</a>
                    </td>
                </tr>

            }
        </table>
    }
</div>